# Part -1 Python Basics (Variables)

##### Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [3]:
name = "Muhammad Arif"
print(name)

Muhammad Arif

In [7]:
father_name = "Muhammad javed"
print(father_name)

Muhammad javed

##### Write your small bio using variables and print it using print function

In [1]:
name = "Muhammad Arif"
education = "Inter"
work_experience = "Accountant with 3 years of experience"
skills = "MS Office, teaching, accounting, and more."

print(f"My name is {name}, and my education level is {education}.")
print(f"I have work experience as {work_experience}.")
print(f"My skills include {skills}.")

My name is Muhammad Arif, and my education level is Inter.
I have work experience as Accountant with 3 years of experience.
My skills include MS Office, teaching, accounting, and more..

##### Write a program in which use all the operators we can use in Python

In [50]:
a = 50
b = 2

In [22]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a ** b)
print(a % b)

52
48
100
25.0
25
2500
0

In [51]:
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

True
False
False
True
True
False

In [88]:
x = "true"
y = "false"

In [89]:
print(x or y)
print(x and y)

true
false

##### Completes the following steps of small task:
Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables
Mention Variable of Total Marks and assign 300 to it
Calculate Percentage

In [5]:
english_marks = 85
islamiat_marks = 90
maths_marks = 95

total_marks = 300

obtained_marks = english_marks + islamiat_marks + maths_marks
percentage = (obtained_marks / total_marks) * 100

In [6]:
print(obtained_marks)
print(f"{percentage}%")

270
90.0%