In [3]:
name = "Muhammad Arif"
print(name)

Muhammad Arif

In [7]:
father_name = "Muhammad javed"
print(father_name)

Muhammad javed

In [1]:
# Defining variables
name = "Muhammad Arif"
education = "Inter"
work_experience = "Accountant with 3 years of experience"
skills = "MS Office, teaching, accounting, and more."

# Printing the bio
print(f"My name is {name}, and my education level is {education}.")
print(f"I have work experience as {work_experience}.")
print(f"My skills include {skills}.")

My name is Muhammad Arif, and my education level is Inter.
I have work experience as Accountant with 3 years of experience.
My skills include MS Office, teaching, accounting, and more..

In [50]:
a = 50
b = 2

In [22]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a ** b)
print(a % b)

52
48
100
25.0
25
2500
0

In [51]:
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

True
False
False
True
True
False

In [88]:
x = "true"
y = "false"

In [89]:
print(x or y)
print(x and y)

true
false

In [90]:
english_marks = 85
islamiat_marks = 90
maths_marks = 95

total_marks = 300

obtained_marks = english_marks + islamiat_marks + maths_marks
percentage = (obtained_marks / total_marks) * 100

In [93]:
print(obtained_marks)
print(percentage)

270
90.0

In [108]:
salary = 38000
years_of_service = 5

if years_of_service >= 5:
    bonus = salary * 0.05
    print("Congratulations! You are eligible for a bonus of:" )
else:

    print("Sorry, you are not eligible for a bonus.")

Congratulations! You are eligible for a bonus of: